<div class="bg">
	<div id="tansparentheader" class="jumbotron jumbotron-fluid">
		<div class="container-fluid">		
	  	<h2>- Chain Bash 2020 will be August 14-16, so mark your calendars!! -</h2>
	  </div>
	</div>
	<div class="container" id="infobox">
		<div class="row">
			<div class="col-6">
				<h3>What is Chain Bash?</h3>
			</div>
			<div class="col-6">
				<h3>Upcoming Events</h3>
			</div>
	  </div>
	</div>
    <div class="container">
      <img src="https://drive.google.com/uc?export=view&id=15UCak0GqqGE2LGkiGMRkP5QTZzErNKfu" class="img-fluid" alt="chainbash2019montage">
      <div class="container">
        <h5>Chain Bash 2019</h5>
        <p>Leadville, Colorado. Campsite and Mt. Massive course.</p>
      </div>
    </div>
</div>


