<div class="bg">
	<div class="jumbotron jumbotron-fluid">
			<div class="container-fluid">		
		  <h2>- Chain Bash 2020 will be August 14-16, so mark your calendars!! -</h2>
		</div>
	</div>
	<div class="container" id="infobox">
		<div class="row">
			<div class="col-6">
				<p>What is Chain Bash?</p>
			</div>
			<div class="col-6">
				<p>Upcoming Events</p>
			</div>
		</div>
	</div>
</div>


